@media screen and (max-width:1384px) {

    header{
        height: 29vh;
        
    }

    .search-box{
        display: flex;
        justify-content: center;
        
    }
    .search-box input{
        margin: 0 20px;
    }

   
    .search-box button{
        margin-left: -8px;
        width: 7vw;
    }

   
    nav{
        flex-direction: column;
        
    }

    nav ul{
        justify-content: center;
        margin-top: 15px;
    }

    .cart{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 7px;
    }

    .logo{
        justify-content: center;
        margin: 20px 0;
        
    }

    .items ul li a{
        padding: 10px 8px;
        
    }

   .slider{
    width: 70vw;
    height: 32vh;
}

.slider img{
    margin-top: 15px;
}


@media screen and (max-width:860px) {

    header{
        height: 27vh;
    }

   
    .search-box button{
        margin-left: -4px;
        width: 9vw;
        
    }

    nav{
        flex-direction: column;
       
    }

    nav ul{
        justify-content: center;
        margin-top: 10px;
    }

    .logo{
        justify-content: center;
        margin: 19px 0;
    }

    .items ul li a{
        padding: 10px 5px;
    }
}
   .slider{
    width: 80vw;
    height: 40vh;
    }

    .slider img{
        margin-top: 10px;
    }
}

@media screen and (max-width:700px) {

    header{
        height: 29vh;
    }

   
    .search-box button{
        margin-left: -10px;
        width: 16vw;
        
    }

    nav{
        flex-direction: column;
    }
     
    nav ul{
        justify-content: center;
        margin:  10px 0px;
    }

    .cart{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
    }

    .logo{
        justify-content: center;
        margin: 25px 0;
    }

    .items{
        margin:0 5px;
       
    }
    
    .items ul{
        height: 99px;
    
    }

    .items ul li{
        gap: 10px;
    }

    .items ul li a{
        padding: 19px 15px;
    }

   .slider{
    width: 95vw;
    height: 38vh;
    }

   .slider img{
    margin-top: 15px;
    }

}

@media screen and (max-width: 410px) {
    header{
        height: 30vh;
        overflow: hidden;
    }

    nav{
        flex-direction: column;
    }

    nav ul{ 
        margin-top: 10px;
    }
    
    nav ul li{
        padding: 0 9px;
        
    }

    .cart{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
    }

    nav .search-box{
        margin-right: 10px;
    }

    .search-box{
           justify-content: center;
    }

    .search-box input{
        margin: 0 10px;
        width: 90vw;
    }

    .search-box button{
        margin-left: -5px;
        width: 70px;
    }

    .logo{
        justify-content: center;
        margin: 20px 0;
    }

    .items ul li{
       gap: 4px;
    }

    .items ul li a{
        padding: 7px 10px;
    }

   .slider {
    width: 98vw;
    height: 36vh;
    }

    .slider img{
         margin-top: -15px;
    }

    footer{
        margin: 10px 0px;
    }

}

